@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Montserrat:wght@200;300;400;700&display=swap');

:root {
    --primary-color:
}

body {
    font-family: 'Montserrat', sans-serif;

}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin:auto;

}


